<apex:page standardController="Page__c" extensions="GM_ModulesAndInterventions" showHeader="true" sidebar="false" id="page"> 

    <apex:stylesheet value="{!URLFOR($Resource.GoalsJs, 'assets/css/bootstrap.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.GoalsJs, 'assets/css/bootstrap-responsive.css')}"/>
    <apex:includeScript value="{!$Resource.jquery142}" />
      <style> 

        /* To push content below navbar */
        @media (min-width: 980px) {
        body {
            margin-top: 41px;
        }

        }
        .span9 {
            display: -moz-grid-line;
            width: 70%;
        }
        h6{
        font-size:14px;
        }
        a.brand > a > img {
            height:40px;
        }
        .summary {
        border: 1px solid black;
            padding:10px;
        }
        div.active{
            background-color: #D1D1D1;
        }
        .add_indicator {
            margin: 30px;
            padding:40px;
            border: 1px solid #CCC;
        }
        
        .indicator{
            border:1px solid #CCC;
            padding:10px;
            margin-bottom:10px;
        }
        
        .baseline {
            width: 350px;
            display: inline-block;
            margin-right:20px;
        }
        
        .target {
            width: 350px;
            display: inline-block;
        }
        .popupButtonYes{
            background-color: #49C739 !important;
            background-image: none !important;
            color: white !important;
            font-size: 12.9pt !important;
            font-weight: bold !important;
            height: 30px !important;;
            width: 90px !important;;
        }
        .popupButtonCancel{
            background-color: #d82516 !important;
            background-image: none !important;
            color: white !important;
            font-size: 12.9pt !important;
            font-weight: bold !important;
            height: 30px !important;;
            width: 90px !important;;
        }
        .blankCell{
            width:5px;
        }
        .custPopup{
            background-color: #ededed;
            border-width: 0px;
            border-radius:10px;
            border-style: solid;
            z-index: 9999;
            left: 30%;
            padding:10px;
            position: absolute;
            margin-top:-60px;
            //top:50%;
            width:600px;
            //height:130px;
        }
        .popupBackground{
            background-color:black;
            opacity: 0.50;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 9998;
            top: 0;
            left: 0;
        }
        .grey{
        background-color:#F1F1F1;
        }
                .margin20{
            margin-left:1%;
            margin-bottom:16px;
            margin-top:16px;
            width:50%;
        }
        .stretch{
        // TCS 10/7/2014: Commented to reduce the lence of breadcrumb
           //margin-left:1%;
          // margin-right:2%;
        }
            
        .h3{
        font-size:24px;
        margin-left:2%;
        margin-top:16px;
        font-weight:bold;
        }
        .h4{
        font-size:18px;
        margin-bottom:16px;
        margin-top:16px;
        font-weight:bold;
        }
        .link{
            color:#2E7BBB;
        }
        .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
            display: inline-block;
            margin-left: 1% !important;
            margin-right: 1% !important;
            width: 97%;
        }
        .10right{
        margin-right:10px;
        }
        .webkitright {
            text-align: right;
            white-space: nowrap;
        };
        .headerSearchContainer {
            margin-top: -20px !important;
        }    
        .phHeaderCustomLogo .headerSearchLeftRoundedCorner {
            margin-top: -20px !important;
        } 
        body .bodyDiv #bodyTable {
        font-size: 14px;
        }
        .pull-right {
        margin-right: 30px !important;
        }
        .container
        {
            background:none !important;
        }
    </style>
    <script>
      $(document).ready(function () {
          $('label.tree-toggler').click(function () {
              $(this).parent().children('ul.tree').toggle(300);
          });
          
           if ( $.browser.webkit ) {
            $("#phHeaderLogoImage").parents("table").find("td").eq(2).removeClass("right").addClass("webkitright");  
           };
      });
    </script>
    <!--<apex:includeScript value="{!$Resource.GoalsJs/assets/js/bootstrap.js}" />-->
    <apex:includeScript value="{URLFOR(!$Resource.GoalsJs, 'assets/js/bootstrap.js')}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    
    </script>
    <!--<script src="assets/js/bootstrap.js">
    </script>-->
    <script>
      $(document).ready(function () {
          $('label.tree-toggler').click(function () {
              $(this).parent().children('ul.tree').toggle(300);
          });
      });
      
    function toggleChildDisplay(index, link, behavior) {
        var childDiv = document.getElementById('childSection' + index);
        //link = link.substring(0, link.lastIndexOf(':'));
        if(behavior == 'expand') {
            if(childDiv != null) {
                childDiv.style.display = 'block' ;
                // show collapse image and hide expand
                //document.getElementById(link + ':minusCommandLink').style.display = '';
                document.getElementById('minusCommandLink'+ index).style.display = '';
                document.getElementById('plusCommandLink'+ index).style.display = 'none';
                //document.getElementById(link + ':plusCommandLink').style.display = 'none';
                
                // set the value to inputHidden
                //document.getElementById(link + ':showDetail').value = true ;
                document.getElementById(link).value = true ;
            }
        } else {
            if(childDiv != null) {
                childDiv.style.display = 'none' ;
                // show expand image and hide collapse
                //document.getElementById(link + ':plusCommandLink').style.display = '';
                document.getElementById('plusCommandLink'+ index).style.display = '';
                document.getElementById('minusCommandLink'+ index).style.display = 'none';
                //document.getElementById(link + ':minusCommandLink').style.display = 'none';
                
                // set the value to inputHidden
                //document.getElementById(link + ':showDetail').value = false ;
                document.getElementById(link).value = false ;
            }
        }
    }
    </script>
    
   <div class="container">
    <span class="h3">
        {!$Label.Modules_and_Interventions} -{!lstPages[0].implementation_Period__r.Name}
       
    </span>
     <span class="pull-right">
                    <!-- TCS 10/07/2014: removed "||CONTAINS($Profile.Name,'LFA')||CONTAINS($Profile.Name,'CCM')||CONTAINS($Profile.Name,'CM')" from the below href condition -->
                   <a href="{!if(CONTAINS($Profile.Name,'PR') || CONTAINS($Profile.Name,$label.Applicant_CM_Admin) || CONTAINS($Profile.Name,$label.Applicant_CM_Read_Write) || CONTAINS($Profile.Name,$label.Applicant_CM_Read_Only) || CONTAINS($Profile.Name,$label.LFA_GM_Admin_Portal_User),'/GM','')}/apex/GrantMakingGuidance?Id={!strGuidanceId}&lang={!strLanguage}" target="_blank" class="link" >{!$label.See_Help}</a>
                    <!--<apex:commandLink styleClass="pull-right" style="display: inline-block;" value="See Help"/>-->
                       </span> 
    <br/><br/>  
   <div id="Infopanel" class="alert alert-info stretch">                   
                <button type="button" class="close" data-dismiss="alert" onclick="closePanel();">
                    ×
                </button>
                <b>
                {!$Label.GM_Modules_Interventions_Instructions}
                            </b>
        </div> 
    <ul class="breadcrumb">
                <li>
                    <a href="{!if($Profile.Name=='PR Standard Portal User','/GM','')}{!if($Profile.Name=='PR Manager Portal User','/GM','')}{!if($Profile.Name=='PR Read-Only Portal User','/GM','')}{!if($Profile.Name=='LFA GM Admin Portal User','/GM','')}{!if($Profile.Name=='LFA GM Editor Portal User','/GM','')}{!if($Profile.Name=='PR Only Portal User','/GM','')}{!if($Profile.Name=='PR Read Only','/GM','')}{!if((CONTAINS($Profile.Name,$Label.Applicant_CM_Admin) || CONTAINS($Profile.Name,$Label.Applicant_CM_Read_Write) || CONTAINS($Profile.Name,$Label.Applicant_CM_Read_Only) || CONTAINS($Profile.Name,$Label.LFA_GM_Admin_Portal_User)),'/GM','')}/apex/grantmakinghome" class="link">Grant-Making </a>
                    <span class="divider">/</span>
                </li>
                <li>
                    <a href="{!if($Profile.Name=='PR Standard Portal User','/GM','')}{!if($Profile.Name=='PR Manager Portal User','/GM','')}{!if($Profile.Name=='PR Read-Only Portal User','/GM','')}{!if($Profile.Name=='LFA GM Admin Portal User','/GM','')}{!if($Profile.Name=='LFA GM Editor Portal User','/GM','')}{!if($Profile.Name=='PR Only Portal User','/GM','')}{!if($Profile.Name=='PR Read Only','/GM','')}{!if((CONTAINS($Profile.Name,$Label.Applicant_CM_Admin) || CONTAINS($Profile.Name,$Label.Applicant_CM_Read_Write) || CONTAINS($Profile.Name,$Label.Applicant_CM_Read_Only) || CONTAINS($Profile.Name,$Label.LFA_GM_Admin_Portal_User)),'/GM','')}/apex/grantmakingHome?id={!Page__c.Implementation_Period__r.Grant__r.Country__c}" class="link">{!Page__c.Implementation_Period__r.Grant__r.Country__r.Name}</a>
                    <span class="divider">/</span>
                </li>
              <!--   <li>
                    {!Page__c.Implementation_Period__r.Grant__r.Name}
                    <span class="divider">/</span>
                </li> -->
                <li>
                    <a href="{!if($Profile.Name=='PR Standard Portal User','/GM','')}{!if($Profile.Name=='PR Manager Portal User','/GM','')}{!if($Profile.Name=='PR Read-Only Portal User','/GM','')}{!if($Profile.Name=='LFA GM Admin Portal User','/GM','')}{!if($Profile.Name=='LFA GM Editor Portal User','/GM','')}{!if($Profile.Name=='PR Only Portal User','/GM','')}{!if($Profile.Name=='PR Read Only','/GM','')}{!if((CONTAINS($Profile.Name,$Label.Applicant_CM_Admin) || CONTAINS($Profile.Name,$Label.Applicant_CM_Read_Write) || CONTAINS($Profile.Name,$Label.Applicant_CM_Read_Only) || CONTAINS($Profile.Name,$Label.LFA_GM_Admin_Portal_User)),'/GM','')}/apex/grantmakingoverview?id={!Page__c.Implementation_Period__r.Id}" class="link">{!Page__c.Implementation_Period__r.Name}</a>
                </li>
            </ul>
             <chatter:feedWithFollowers id="chatterFeed" entityId="{!Page__c.Id}"/>
             <br></br>
            </div>

     <apex:form id="frm">
    
        <apex:actionFunction name="jsDeleteModule" action="{!DeleteModule}" reRender="frm" status="Processing" >
            <apex:param name="deleteModuleIndex" value="" />
        </apex:actionFunction>       
        
       
        <div class="container">                     
            <div class="row">
                <!--START SIDEBAR-->          
                <c:GMSidebar RecordId="{!Page__c.Id}"/>
                <!--END SIDEBAR, START MAIN SECTION-->

                 <div class="span9">
                 <apex:outputPanel id="ModulesPanel">
                    <div style="margin-bottom:16px;margin-top:16px;">
                    <!-- <span class="pull-right">
                     TCS 10/07/2014: removed "||CONTAINS($Profile.Name,'LFA')||CONTAINS($Profile.Name,'CCM')||CONTAINS($Profile.Name,'CM')" from the below href condition -->
                 <!--  <a href="{!if(CONTAINS($Profile.Name,'PR'),'/GM','')}/apex/GrantMakingGuidance?Id={!strGuidanceId}&lang={!strLanguage}" target="_blank" class="link" >{!$label.See_Help}</a>
                    <!--<apex:commandLink styleClass="pull-right" style="display: inline-block;" value="See Help"/>
                       </span> -->
                        <span class="h3">
                            {!$Label.Modules_text}
                        </span>
                        <br/>
                        <span class="h5">
                            {!$Label.Modules_expand_text}
                        </span>
                     </div>
                     <table class="table" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <apex:variable var="Count" value="{!1}"/>
                            <apex:repeat value="{!lstModules}" var="Modules">
                                <tr>
                                    <td width="5%" class="grey">
                                         <!-- <apex:commandLink action="{!toogleShowChilDetailOfModule}" reRender="frm, moduleChildPanel" status="Processing" style="display:{!if(Modules.showChildDetails == true,'none','')}" >
                                             <i class="icon-plus pull-right"></i> 
                                             <apex:param value="{!Modules.IndexModule}" name="toggleIndex" />
                                         </apex:commandLink>
                                         <apex:commandLink action="{!toogleShowChilDetailOfModule}" reRender="frm, moduleChildPanel" status="Processing" style="display:{!if(Modules.showChildDetails == true,'','none')}" >
                                             <i class="icon-minus pull-right"></i>
                                             <apex:param value="{!Modules.IndexModule}" name="toggleIndex" />
                                         </apex:commandLink> -->
                                        <apex:inputHidden id="showDetail" value="{!Modules.showChildDetails}" />
                                        <i class="icon-plus pull-right" id="plusCommandLink{!Count}" onclick="toggleChildDisplay('{!Count}', '{!$Component.showDetail}', 'expand');" style="display:{!if(Modules.showChildDetails == true,'none','')}" ></i>
                                        <i class="icon-minus pull-right" id="minusCommandLink{!Count}" onclick="toggleChildDisplay('{!Count}', '{!$Component.showDetail}', 'collapse');" style="display:{!if(Modules.showChildDetails == true,'','none')}" > </i>
                                    </td>
                                    <td width="5%" class="grey">
                                        <span class="badge badge-inverse">{!Count}</span>
                                    </td>
                                    <td class="grey" colspan="2">
                                        <h6><b><apex:outputText value="{!Modules.ModuleDescription}" style="display:{!if(Modules.blnDisplay == true,'','none')}"/></b></h6>
                                        <apex:inputTextarea value="{!Modules.ModuleDescription}" style="height: 20px; width: 300px;display:{!if(Modules.blnDisplay == true,'none','')}"/>  
                                
                                    </td>
                                     <td class="grey" style="padding-right:10px;text-align:right;">
                                                                 
                                        
                                        <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-success 10right" style="display:{!if((Modules.blnDisplay == true && Modules.isCustomRow == true),'','none')}" reRender="frm" action="{!EditModule}"  status="Processing">
                                            <i class="icon-edit icon-white"></i>
                                            <strong>{!$Label.Edit}</strong>
                                            <apex:param value="{!Count-1}" name="EditIndex" />
                                        </apex:commandLink>
                                        
                                        <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-success 10right" style="text-align: left;margin-right:10px;display:{!if((Modules.blnDisplay == false && Modules.isCustomRow == true),'','none')}" action="{!SaveModule}" reRender="frm" status="Processing">
                                            <i class="icon-edit icon-white"></i> 
                                            <strong>{!$Label.Save}</strong>
                                            <apex:param value="{!Count-1}" name="SaveIndex" />
                                        </apex:commandLink>                                       
                                        
                                       <!--  <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-danger" style="text-align: left;margin-right:10px;display:{!if(Modules.blnDisplay == true,'','none')}"  
                                                onclick="return OpenPopup('{!$Component.tstpopup}');" rendered="{!if(CONTAINS($Profile.Name,$Label.PR_Admin)||CONTAINS($Profile.Name,$Label.PR_Read_Write_Edit)||CONTAINS($Profile.Name,$Label.FPM)||CONTAINS($Profile.Name,$Label.PSM_Officer)||CONTAINS($Profile.Name,$Label.System_Admin),true,false)}">
                                                <!-- action="{!ConfirmDeleteModule}" reRender="tstpopup" oncomplete="OpenPopup('{!$Component.tstpopup}');" status="Processing">-->
                                            <i class="icon-trash icon-white" style="display:none"></i> 
                                          <!--  <strong>{!$Label.Delete}</strong>
                                            <!--<apex:param value="{!Count-1}" name="DeleteIndex" />-->
                                       <!-- </apex:commandLink> -->
                                        
                                        <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-danger" style="text-align: left;margin-right:10px;display:{!if(Modules.blnDisplay == true,'','none')}"  
                                                onclick="return OpenPopup('{!$Component.tstpopup}');" rendered="{!if(CONTAINS($Profile.Name,$Label.PR_Admin)||CONTAINS($Profile.Name,$Label.PR_Read_Write_Edit)||CONTAINS($Profile.Name,$Label.FPM)||CONTAINS($Profile.Name,$Label.PSM_Officer)||CONTAINS($Profile.Name,$Label.System_Admin),false,false)}">
                                                
                                            <i class="icon-trash icon-white"></i> 
                                         <!--  <strong>{!$Label.Delete}</strong> -->
                                        </apex:commandLink>
                                                                                                                   
                                        <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-danger" style="text-align: left;display:{!if((Modules.blnDisplay == false && Modules.isCustomRow == true),'','none')}" action="{!CancelModule}" reRender="frm" status="Processing">
                                            <i class="icon-trash icon-white"></i> 
                                            <strong>{!$Label.Cancel}</strong>
                                            <apex:param value="{!Count-1}" name="CancelIndex" />
                                        </apex:commandLink>
                                        
                                        <apex:outputPanel id="tstpopup" style="display:none;">
                                           <apex:outputPanel id="popupBackground" styleClass="popupBackground"/>
                                           <apex:outputPanel id="custPopup" styleClass="custPopup" >
                                               <table width="100%" cellspacing="0" cellpadding="0" border="0" >
                                                    <tr>
                                                       <td colspan="4" class="deletePopup" align="center" style="padding:0px !important; text-align:center !important;border-top:0px !important;">
                                                           <apex:outputtext style="color:#6590c4; font-size: 13.9pt;font-weight: bold;" value="Are you sure?"/>
                                                       </td>
                                                    </tr>
                                              
                                                    <tr>                  
                                                        <td colspan="10" class="deletePopup" align="center" style="padding:0px !important;text-align:center !important;border-top:0px !important;">
                                                        <br></br>
                                                           <apex:outputtext style="color:#6590c4; font-size: 13.9pt;font-weight: bold;" value="This Module, including all related Interventions and Indicators, will be deleted."/>
                                                        </td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td width="47%" class="deletePopup" align="right" style="padding:0px !important;text-align:right !important;border-top:0px !important;">
                                                        <br></br>
                                                           <apex:commandButton styleClass="popupButtonYes" value="Yes" action="{!DeleteModule}" reRender="frm" status="Processing">
                                                               <apex:param value="{!Count-1}" name="deleteModuleIndex" />
                                                           </apex:commandButton>
                                                        </td>
                                                        <td width="6%" class="deletePopup" style="padding:0px !important;text-align:center !important;border-top:0px !important;"></td>
                                                        <td width="47%" align="left" class="deletePopupCancel" style="padding:0px !important;text-align:left !important;border-top:0px !important;">
                                                        <br></br>
                                                           <apex:commandButton styleClass="popupButtonCancel" value="Cancel" onclick="return ClosePopup('{!$Component.tstpopup}');"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                     </td>
                                </tr>
                                
                                <tr>
                                    <td colspan="5">
                                        <div id="childSection{!Count}" style="display:{!if(Modules.showChildDetails == true,'','none')}">
                                        <table width="100%">
                                            <apex:variable var="innerCount" value="{!1}"/>
                                            <apex:repeat value="{!Modules.childInterventions}" var="intervention" >
                                            <tr> 
                                                <td colspan="2">
                                                    <!-- TCS 21/7/2014 Modify the display condition of output text, display only if it is standard intervention -->
                                                    <apex:outputText value="{!intervention.objIntervention.name}" style="padding-left:80px;display:{!if(intervention.blnIndicatorDisplay == true,if(intervention.objIntervention.Standard_or_Custom__c != 'Custom','','none'),'none')}"/>
                                                    <!-- TCS 21/7/2014 Added below output text to show the custom intervention -->
                                                    <apex:outputText id="optGIName" value="{!IF(strIPLanguage == 'FRENCH', intervention.objIntervention.Custom_Intervention_Name_French__c, IF(strIPLanguage == 'RUSSIAN', intervention.objIntervention.Custom_Intervention_Name_Russian__c, IF(strIPLanguage == 'SPANISH', intervention.objIntervention.Custom_Intervention_Name_Spanish__c, intervention.objIntervention.Custom_Intervention_Name__c)))}" style="padding-left:80px;display:{!if(intervention.blnIndicatorDisplay == true,if(intervention.objIntervention.Standard_or_Custom__c == 'Custom','','none'),'none')}"/>
                                                    <apex:inputTextarea value="{!intervention.objIntervention.name}" style="padding-left:80px;height:20px;display:{!if(intervention.blnIndicatorDisplay == false,'','none')}"/>
                                                </td>
                                                <td colspan="2" style="text-align:right">
                                                    
                                                </td>
                                                <td style="padding-left:0;padding-right: 10px;text-align: right;">
                                                    
                                                    <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-success" style="display:{!if(intervention.blnIndicatorDisplay == true && intervention.isAddedFromCustom == true,'','none')}" reRender="frm" action="{!EditGrantIntervention}"  status="Processing">
                                                        <i class="icon-edit icon-white"></i>
                                                        <strong>{!$Label.Edit}</strong>
                                                        <apex:param value="{!innerCount-1}" name="ChildEditIndex" />
                                                        <apex:param value="{!Count-1}" name="EditIndex" />
                                                    </apex:commandLink>
                                                    <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-success" style="display:{!if(intervention.blnIndicatorDisplay == false && intervention.isAddedFromCustom == true,'','none')}" action="{!SaveGrantIntervention}" reRender="frm" status="Processing">
                                                        <i class="icon-edit icon-white"></i> 
                                                        <strong>{!$Label.Save}</strong>
                                                        <apex:param value="{!innerCount-1}" name="ChildSaveIndex" />
                                                        <apex:param value="{!Count-1}" name="SaveIndex" />
                                                    </apex:commandLink>
                                                    
                                                    <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-danger" style="display:{!if(intervention.blnIndicatorDisplay == false && intervention.isAddedFromCustom == true,'','none')}" action="{!CancelInterventionEdit}" reRender="frm" status="Processing">
                                                        <i class="icon-trash icon-white"></i> 
                                                        <strong>{!$Label.Cancel}</strong>
                                                        <apex:param value="{!innerCount-1}" name="ChildCancelIndex" />
                                                        <apex:param value="{!Count-1}" name="CancelIndex" />
                                                    </apex:commandLink>
                                                    
                                                    <!-- <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-danger" style="display:{!if(intervention.blnIndicatorDisplay == true,'','none')}" onclick="return openinterventionDeletePopup('{!$Component.interventionDeletePopup}');" rendered="{!if(CONTAINS($Profile.Name,$Label.PR_Admin)||CONTAINS($Profile.Name,$Label.PR_Read_Write_Edit)||CONTAINS($Profile.Name,$Label.FPM)||CONTAINS($Profile.Name,$Label.PSM_Officer)||CONTAINS($Profile.Name,$Label.System_Admin),true,false)}"> <!-- action="{!ConfirmInterventionDelete}" reRender="frm" status="Processing">-->
                                                      <!--    <i class="icon-trash icon-white"></i> 
                                                        <strong>{!$Label.Delete}</strong>
                                                        <!--<apex:param value="{!innerCount-1}" name="ChildDeleteIndex" />
                                                        <apex:param value="{!Count-1}" name="DeleteIndex" />-->
                                                        
                                                    <!-- </apex:commandLink> -->
                                                    
                                                     <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-danger" style="display:{!if(intervention.blnIndicatorDisplay == true,'','none')}" onclick="return openinterventionDeletePopup('{!$Component.interventionDeletePopup}');" rendered="{!if(CONTAINS($Profile.Name,$Label.PR_Admin)||CONTAINS($Profile.Name,$Label.PR_Read_Write_Edit)||CONTAINS($Profile.Name,$Label.FPM)||CONTAINS($Profile.Name,$Label.PSM_Officer)||CONTAINS($Profile.Name,$Label.System_Admin),false,false)}"> <!-- action="{!ConfirmInterventionDelete}" reRender="frm" status="Processing">-->
                                                        <i class="icon-trash icon-white"></i> 
                                                        <strong>{!$Label.Delete}</strong>
                                                        <!--<apex:param value="{!innerCount-1}" name="ChildDeleteIndex" />
                                                        <apex:param value="{!Count-1}" name="DeleteIndex" />-->
                                                        
                                                    </apex:commandLink>
                                                    
                                                    <apex:outputPanel id="interventionDeletePopup" style="display:none;">
                                                        <apex:outputPanel styleClass="popupBackground" />
                                                        <apex:outputPanel styleClass="custPopup"  >
                                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                <!--<tr><td style="height:10px;"></td></tr>-->
                                                                <tr>
                                                                    <td colspan="3" align="center" style="text-align:center !important;border-top:0px !important;">
                                                                        <apex:outputtext style="color:#6590c4; font-size: 13.9pt;font-weight: bold;" value="Are you sure?"/>
                                                                    </td>
                                                                </tr>
                                                                <!--<tr><td style="height:6px;"></td></tr>-->
                                                                <tr>
                                                                    <td colspan="3" align="center" style="text-align:center !important;border-top:0px !important;">
                                                                        <apex:outputtext style="color:#6590c4; font-size: 13.9pt;font-weight: bold;" value="This Module Intervention will be deleted."/>
                                                                    </td>
                                                                </tr>
                                                                <!--<tr><td style="height:10px;"></td></tr>-->
                                                                <tr>
                                                                    <td width="47%" align="right" style="text-align:right !important;border-top:0px !important;">
                                                                        <apex:commandButton styleClass="popupButtonYes" value="Yes" action="{!DeleteIntervention}" reRender="frm" status="Processing">
                                                                            <apex:param value="{!innerCount-1}" name="ChildDeleteIndex" />
                                                                            <apex:param value="{!Count-1}" name="DeleteIndex" />
                                                                        </apex:commandButton>
                                                                    </td>
                                                                    <td width="6%" style="text-align:center !important;border-top:0px !important;"></td>
                                                                    <td width="47%" align="left" style="text-align:left !important;border-top:0px !important;">
                                                                        <apex:commandButton styleClass="popupButtonCancel" value="Cancel" onclick="return closeinterventionDeletePopup('{!$Component.interventionDeletePopup}');"/> <!-- action="{!CancelInterventionDelete}" reRender="frm" status="Processing"/>-->
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                </td>
                                                <apex:variable var="innerCount" value="{!innerCount+1}"/>
                                            </tr>
                                            
                                            </apex:repeat>
                                            <tr id="AddNewCusInterventionRow{!Count}" style="display:none;">
                                                <td colspan="2">
                                                    <apex:inputTextarea value="{!Modules.strAddNewCustomInterventionDec}" style="resize:none;padding-left:80px;height:20px;"/>
                                                </td>
                                                <td colspan="2" style="text-align:right">
                                                    
                                                </td>
                                                <td style="padding-left:0;padding-right: 10px;text-align: right;">
                                                    <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-success"  action="{!SaveGrantIntervention}" reRender="frm" status="Processing">
                                                        <i class="icon-edit icon-white"></i> 
                                                        <strong>{!$Label.Save}</strong>
                                                        <apex:param value="{!if(Modules.childInterventions != null,Modules.childInterventions.size + 1,1)}" name="ChildSaveIndex" />
                                                        <apex:param value="{!Count-1}" name="SaveIndex" />
                                                    </apex:commandLink>
                                                    
                                                    <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-danger" onclick="return closeNewIntRow('AddNewCusInterventionRow{!Count}','AddStdCusIntBtnTr{!Count}')"><!-- action="{!CancelInterventionEdit}" reRender="frm" status="Processing">-->
                                                        <i class="icon-trash icon-white"></i> 
                                                        <strong>{!$Label.Cancel}</strong>
                                                        <!--<apex:param value="{!innerCount-1}" name="ChildCancelIndex" />
                                                        <apex:param value="{!Count-1}" name="CancelIndex" />-->
                                                    </apex:commandLink>
                                                </td>
                                            </tr>
                                            <tr id="AddStdCusIntBtnTr{!Count}">
                                                <td>
                                                <span style="margin-right:10px;">
                                                <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-success" rendered="{!if(CONTAINS($Profile.Name,$Label.PR_Admin)||CONTAINS($Profile.Name,$Label.PR_Read_Write_Edit)||CONTAINS($Profile.Name,$Label.FPM)||CONTAINS($Profile.Name,$Label.PSM_Officer)||CONTAINS($Profile.Name,$Label.System_Admin)&&Modules.Module != null && Modules.Module.Catalog_Module__c != null,false,false)}" onclick="return OpenaddInterventionsPopup('{!$Component.addInterventionsPopup}')"> <!-- action="{!AddNewIntervention}" rerender="frm, addInterventionsPopup" status="Processing" rendered="{!Modules.showStandardInterventionButton}" > -->
                                                    <i class="icon-plus-sign icon-white"></i>
                                                    <strong>{!$Label.Add_Interventions}</strong>
                                                    <!--<apex:param name="parentRowIndex" value="{!Count-1}" />-->
                                                </apex:commandLink>
                                                </span>
                                                
                                                
                                                <apex:outputPanel id="addInterventionsPopup" style="display:none;">
                                                    <apex:outputPanel styleClass="popupBackground" />
                                                    <apex:outputPanel styleClass="custPopup" >
                                                        <h5> {!$label.Select_interventions} </h5>
                                                        <br></br>
                                                        <apex:outputPanel rendered="{!IF(Modules.lstinterventions != null, true, false)}" >    
                                                            <table width="100%" cellspacing="10" cellpadding="0" border="0">
                                                                <apex:repeat value="{!Modules.lstinterventions}" var="intervention">
                                                                <tr>
                                                                    <td width="18px;" style="padding:0px !important;border-top:0px !important;">
                                                                        <apex:inputCheckbox value="{!intervention.isSelected}"/>
                                                                    </td>
                                                                    <td style="padding:0px !important;border-top:0px !important;"> 
                                                                       <B>{!intervention.catalogIntervention.Name}</B>
                                                                    </td>
                                                                </tr>
                                                                <tr><td style="height:6px;padding:0px !important;border-top:0px !important;"></td></tr>
                                                                </apex:repeat>
                                                            </table>
                                                        </apex:outputPanel>
                                                        
                                                       
                                                        <apex:outputPanel rendered="{!IF(Modules.lstinterventions.size > 0, false, true)}" >    
                                                            <br/>
                                                            <center align="left">
                                                            &nbsp;&nbsp;{!$label.No_new_interventions}
                                                            </center>
                                                            <br/>
                                                        </apex:outputPanel>
                                                        
                                                        <table>
                                                            <tr>
                                                                <td width="47%" align="right" style="border-top:0px !important;">
                                                                     <!--  TCS 10/7/2014: Added condition to rendered save button-->
                                                                    <apex:commandButton styleClass="popupButtonYes" value="Save" action="{!AddSelectedIntervention}" rendered="{!IF(Modules.lstinterventions.size != 0, true, false)}" reRender="frm" status="Processing">
                                                                      <!--  TCS 10/7/2014: Changes end here-->
                                                                        <apex:param name="parentRowIndex" value="{!Count-1}" />
                                                                    </apex:commandButton>
                                                                </td>
                                                                <td width="6%" style="border-top:0px !important;"></td>
                                                                <td width="47%" align="left" style="border-top:0px !important;">
                                                                    <apex:commandButton styleClass="popupButtonCancel" value="Cancel" onclick="return CanceladdInterventionsPopup('{!$Component.addInterventionsPopup}')"/> <!-- action="{!CancelAddIntervention}" reRender="frm" status="Processing"/>-->
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                                
                                                </td>
                                                <td colspan="4"></td>
                                            </tr>
                                        </table>
                                        </div>
                                    </td>
                                </tr>      
                                        
                                <apex:variable var="Count" value="{!Count+1}"/>
                            </apex:repeat>
                            
                            <tr id="AddnewModuletr" style="display:none;">
                                <td width="5%" class="grey">
                                     <!-- <apex:commandLink action="{!toogleShowChilDetailOfModule}" reRender="frm, moduleChildPanel" status="Processing" style="display:{!if(Modules.showChildDetails == true,'none','')}" >
                                         <i class="icon-plus pull-right"></i> 
                                         <apex:param value="{!Modules.IndexModule}" name="toggleIndex" />
                                     </apex:commandLink>
                                     <apex:commandLink action="{!toogleShowChilDetailOfModule}" reRender="frm, moduleChildPanel" status="Processing" style="display:{!if(Modules.showChildDetails == true,'','none')}" >
                                         <i class="icon-minus pull-right"></i>
                                         <apex:param value="{!Modules.IndexModule}" name="toggleIndex" />
                                     </apex:commandLink> 
                                    <apex:inputHidden id="showDetail" value="{!Modules.showChildDetails}" />
                                    <i class="icon-plus pull-right" id="plusCommandLink{!Modules.IndexModule}" onclick="toggleChildDisplay('{!Modules.IndexModule}', '{!$Component.showDetail}', 'expand');" style="display:{!if(Modules.showChildDetails == true,'none','')}" ></i>
                                    <i class="icon-minus pull-right" id="minusCommandLink{!Modules.IndexModule}" onclick="toggleChildDisplay('{!Modules.IndexModule}', '{!$Component.showDetail}', 'collapse');" style="display:{!if(Modules.showChildDetails == true,'','none')}" > </i>-->
                                </td>
                                <td width="5%" class="grey">
                                    <span class="badge badge-inverse">{!if(lstModules != null && lstModules.size > 0,lstModules.size + 1,1)}</span>
                                </td>
                                <td class="grey" colspan="2">
                                    
                                    <apex:inputTextarea value="{!strAddNewModuleDescription}" style="height: 20px; width: 300px;"/>  
                            
                                </td>
                                 <td class="grey" style="padding-right:10px;text-align:right;">
                                    <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-success 10right" style="text-align: left;margin-right:10px;" action="{!SaveModule}" reRender="frm" status="Processing">
                                        <i class="icon-edit icon-white"></i> 
                                        <strong>{!$Label.Save}</strong>
                                        <apex:param value="{!if(lstModules != null,lstModules.size+1,1)}" name="SaveIndex" />
                                    </apex:commandLink>                                       
                                    <apex:commandLink styleClass="TGFbtn TGFbtn-mini TGFbtn-danger" style="text-align: left;" onclick="return CancelNewModuleRow();"> <!-- action="{!CancelModule}" reRender="frm" status="Processing"> -->
                                        <i class="icon-trash icon-white"></i> 
                                        <strong>{!$Label.Cancel}</strong>
                                    </apex:commandLink>
                                    
                                 </td>
                            </tr>
                            
                            <tr id="AddStdCustomModuleBtn">
                                <td colspan="4"></td>
                                <td style="padding-left:0px;padding-right:10px;text-align:right">
                                    <apex:inputHidden id="addModuleConfirmHidden" value="{!blnAddModuleConfirm}" />
                                  <!--  <apex:commandLink rendered="{!if(CONTAINS($Profile.Name,$Label.PR_Admin)||CONTAINS($Profile.Name,$Label.PR_Read_Write_Edit)||CONTAINS($Profile.Name,$Label.FPM)||CONTAINS($Profile.Name,$Label.PSM_Officer)||CONTAINS($Profile.Name,$Label.System_Admin),true,false)}" styleClass="TGFbtn TGFbtn-mini TGFbtn-success" onclick="AddNewModule(); return false;" style="margin-right:10px" >
                                        <i class="icon-plus-sign icon-white"></i>
                                        <strong>{!$Label.Add_Modules}</strong>
                                    </apex:commandLink> -->
                                    
                                    <apex:commandLink rendered="{!if(CONTAINS($Profile.Name,$Label.PR_Admin)||CONTAINS($Profile.Name,$Label.PR_Read_Write_Edit)||CONTAINS($Profile.Name,$Label.FPM)||CONTAINS($Profile.Name,$Label.PSM_Officer)||CONTAINS($Profile.Name,$Label.System_Admin),false,false)}" styleClass="TGFbtn TGFbtn-mini TGFbtn-success" onclick="AddNewModule(); return false;" style="margin-right:10px" >
                                        <i class="icon-plus-sign icon-white"></i>
                                        <strong>{!$Label.Add_Modules}</strong>
                                    </apex:commandLink>
                                    
                                    <apex:outputPanel id="addModulePopup" style="display : none">
                                        <apex:outputPanel styleClass="popupBackground" />
                                        <apex:outputPanel styleClass="custPopup" >
                                            <h5 style="float:left;"> {!$Label.Select_modules} </h5><br/>
                                            <apex:outputPanel rendered="{!IF(lstCatModules.size > 0, true, false)}" >    
                                                <table width="100%" cellspacing="10" cellpadding="0" border="0">
                                                    <apex:repeat value="{!lstCatModules}" var="module">
                                                    <tr>
                                                        <td style="padding:0px !important;border-top:0px !important;">
                                                            <apex:inputCheckbox value="{!module.isSelected}"/>
                                                        </td>      
                                                        <td style="padding:0px !important;border-top:0px !important;"> 
                                                            <B>{!module.catalogModule.Name}</B>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height:6px;padding:0px !important;border-top:0px !important;"></td></tr>
                                                    </apex:repeat>
                                                </table>
                                            </apex:outputPanel>
                                            
                                            
                                            <apex:outputPanel rendered="{!IF(lstCatModules.size > 0, false, true)}" >    
                                                <br/>
                                                <center align="left">
                                                &nbsp;&nbsp;{!$Label.No_new_modules}
                                                </center>
                                                   <br/>
                                            </apex:outputPanel>
                                            
                                            <table>
                                                <tr>
                                                    <td width="47%" align="right" style="padding:0px !important;border-top:0px !important;">
                                                    <!-- TCS 12/7/2014: Added rendered parameter for Save commandButton -->
                                                        <apex:commandButton styleClass="popupButtonYes" value="Save" action="{!AddSelectedModule}" reRender="frm" status="Processing" rendered="{!lstCatModules.size != 0}" />
                                                    <!-- TCS 12/7/2014: Ended here -->
                                                    </td>
                                                    <td width="6%" style="padding:0px !important;border-top:0px !important;"></td>
                                                    <td width="47%" align="left" style="padding:0px !important;border-top:0px !important;">
                                                        <apex:commandButton styleClass="popupButtonCancel" value="Cancel" onclick="return CancelAddModule();" />
                                                        <!--<apex:commandButton styleClass="popupButtonCancel" value="Cancel" action="{!CancelAddModule}" reRender="frm" oncomplete="CancelAddModule();" status="Processing"/>
                                                         <apex:commandButton styleClass="popupButtonCancel" value="Cancel" oncomplete="CancelAddModule('page:frm:addModuleConfirmHidden');" reRender="frm"/> -->
                                                    </td>
                                                </tr>
                                            </table>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>

                <hr></hr>
                <!-- End of right content -->
                </apex:outputPanel>
                </div>
            <!-- /end of righht-left row -->
            </div>
        <!-- /container -->
        </div>
        
        <!-- Confirm delete popup box for delete module -->
        
        <!-- Confirm delete popup box for delete intervention -->
        

        <style>
        .ProcessingBackground
        {
            background-color: black;
            opacity: 0.50;
            filter: alpha(opacity = 50);
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 9999;
            top:0;
            left:0;
        }
        .Processing
        {
            z-index: 9999;
            left: 50%;
            top: 50%;
            text-align: center;
            position: fixed;
        }        
        </style>
        <div id="divProcessing" style="display:none;">
            <div class="ProcessingBackground"></div>
            <div class="Processing">
                <apex:image alt="Processing" url="{!$Resource.LoadingCircle}" />
            </div>
        </div>  
        <apex:actionStatus id="Processing" onstart="document.getElementById('divProcessing').style.display = '';" onstop="document.getElementById('divProcessing').style.display = 'none';">                            
        </apex:actionStatus> 
        <script>
            
            function AddNewModule() {
                var popupEle = document.getElementById('page:frm:addModulePopup');
                popupEle.style.display = '' ;
            }
            
            function CancelAddModule() {
                var popupEle = document.getElementById('page:frm:addModulePopup');
                popupEle.style.display = 'none' ;
                return false;
            }           
            
            function SetStringAddGoal(panelId,setAdd){
                var spans = document.getElementById(panelId).childNodes;
                var addStr = '';
                for(var i=0;i<spans.length;i++){
                    if(spans[i].tagName == 'SPAN'){
                        if(spans[i].className.indexOf('badge badge-inverse') != -1){
                            if(addStr == '') addStr = spans[i].id;
                            else addStr += ','+spans[i].id;
                        }
                    }
                }
                return addStr;
            }
            function OpenPopup(PopupPanelId){
                document.getElementById(PopupPanelId).style.display = '';
                /*
                var confirmMsg = 'This Module, including all related Interventions and Indicators, will be deleted.' ;
                if(confirm(confirmMsg)) {
                    jsDeleteModule(PopupPanelId);
                }
                */
                return false;
            }
            function ClosePopup(PopupPanelId){
                document.getElementById(PopupPanelId).style.display = 'none';
                return false;
            }
            function closePanel(){
                document.getElementById('Infopanel').style.display = 'none';
            }
            function DisplaySelectIndicatorPanel(){
                document.getElementById('SelectCatalogIndicator').style.display = '';
                document.getElementById('tableCusStdBtn').style.display = 'none';
                return false;
            }
            function hideSelectCalalogIndi(){
                document.getElementById('SelectCatalogIndicator').style.display = 'none';
                document.getElementById('tableCusStdBtn').style.display = '';
                document.getElementById('AddStdIndiLabel').style.display = 'none';
                document.getElementById('AddStdIndiSec').style.display = 'none';
                return false;
            }
            function showstdIndi(SelectedIndicator){
                if(document.getElementById(SelectedIndicator).value != ''){
                    actCreateIndicatorOnSelectCatalog();
                    return false;
                }else{
                    return false;
                }
            }
            function showstdIndiOncomplete(){
                document.getElementById('AddStdIndiLabel').style.display = '';
                document.getElementById('AddStdIndiSec').style.display = '';
                document.getElementById('tableCusStdBtn').style.display = 'none';
                document.getElementById('SelectCatalogIndicator').style.display = '';
            }
            function cancelStdIndi(){
                document.getElementById('AddStdIndiLabel').style.display = 'none';
                document.getElementById('AddStdIndiSec').style.display = 'none';
                document.getElementById('tableCusStdBtn').style.display = '';
                document.getElementById('SelectCatalogIndicator').style.display = 'none';
                return false;
            }
            function CancelCustIndioncomplete(){
                document.getElementById('custIndiLabel').style.display = 'none';
                document.getElementById('custIndiSec').style.display = 'none';
                document.getElementById('tableCusStdBtn').style.display = '';
                return false;
            }
            function openCustIndi(){
                document.getElementById('custIndiLabel').style.display = '';
                document.getElementById('custIndiSec').style.display = '';
                document.getElementById('tableCusStdBtn').style.display = 'none';
                return false;
            }
            function AddNewModuleRow(){
                document.getElementById('AddStdCustomModuleBtn').style.display = 'none';
                document.getElementById('AddnewModuletr').style.display = '';
                return false;
            }
            function CancelNewModuleRow(){
                document.getElementById('AddStdCustomModuleBtn').style.display = '';
                document.getElementById('AddnewModuletr').style.display = 'none';
                return false;
            }
            
            function OpenaddInterventionsPopup(OpenIntervationPanel){
                document.getElementById(OpenIntervationPanel).style.display = '';
                return false;
            }
            function CanceladdInterventionsPopup(OpenIntervationPanel){
                document.getElementById(OpenIntervationPanel).style.display = 'none';
                return false;
            }
            
            function CloseaddInterventionsPopup(OpenIntervationPanel){
                document.getElementById(OpenIntervationPanel).style.display = 'none';
                return false;
            }
            function closeinterventionDeletePopup(interventionDeletePanel){
                document.getElementById(interventionDeletePanel).style.display = 'none';
                return false;
            }
            function openinterventionDeletePopup(interventionDeletePanel){
                document.getElementById(interventionDeletePanel).style.display = '';
                return false;
            }
            function AddNewIntervantionRow(NewIntTr,IntBtnTr){
                document.getElementById(NewIntTr).style.display = '';
                document.getElementById(IntBtnTr).style.display = 'none';
                return false;
            }
            function closeNewIntRow(NewIntTr,IntBtnTr){
                document.getElementById(NewIntTr).style.display = 'none';
                document.getElementById(IntBtnTr).style.display = '';
                return false;
            }
            function OpenNewPrPopup(PrPanel){
                document.getElementById(PrPanel).style.display = '';
                return false;
            }
            function CloseNewPrPopup(PrPanel){
                document.getElementById(PrPanel).style.display = 'none';
                return false;
            }
            function switchMenu(obj,obj1,obj2,hdn,val) 
        {   
            var AllLI = document.getElementsByTagName('li');
            for(var i=0;i<AllLI.length;i++){
                if(AllLI[i].id == obj){
                    if(AllLI[i].style.display != 'none'){
                        AllLI[i].style.display = 'none';
                    }else{
                        AllLI[i].style.display = '';
                    }
                }
            }
            document.getElementById(hdn).value=val; 
            
            var e2 = document.getElementById(obj1);                                       
            if ( e2.style.display != 'none' ) {
                e2.style.display = 'none';
            }
            else {
                e2.style.display = '';
            }
            var e3 = document.getElementById(obj2);                                       
            if ( e2.style.display != 'none' ) {
                e3.style.display = 'none';
            }
            else {
                e3.style.display = '';
            }
        }
        </script>
        
    </apex:form>
</apex:page>